*{
		margin: 0px;
		padding: 0px 40px 0px 40px;
		font-size: 16px;
		font-family: Arial;
		text-align: center;
	}
nav{
	display: flex;
	background-color: #ffb74d;
	margin-bottom: 30px;
}
nav ul li{
	display: inline-block;
	margin-left: 10px;
	padding: 10px;
	color: black;
}
nav ul li a{
	color: black;
}
nav ul li:hover{
	background-color: #ffe0b2;
}
a{
	text-decoration: none;
}
